@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  max-width: 100%;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  color: #272525;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif 4', serif;
}
